/* Universal selector */
*{
    color: green;
}
/* type selectors */
ul {
    color: blueviolet;
    background-color: black;
}
/* class practice..bolded 2 names */
.bold {
    font-weight: bold;
    font-style: italic;
    font-size: large;
}